.matriculado{
    background-color: green;
    color: white;
}

.sin-matricula{
    background-color: red;
    color: white;
}

.estado-vacio{
    background-color: white;
}

.avatar{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
