<div class="p-text-center titulo">
    <h1 class="display-3 ">MATRÍCULA</h1>
</div>

<div class="p-grid">
    <div class="p-col">
        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="alumno" class="p-col-3 ">Seleccionar alumno</label>
                        <div class="p-col ">
                            <p-autoComplete [(ngModel)]="selectedAlumno" [suggestions]="alumnos_autocompleteResult"
                                (completeMethod)="searchAlumno($event)" id="alumno" placeholder="Buscar alumno..." field="nombre_completo"
                                [minLength]="1" (onSelect)="onSelectAlumno($event)" [ngClass]="{'ng-invalid ng-dirty': errorAlumno}">
                                <ng-template let-alumno pTemplate="dataItem">
                                    {{alumno.nombres}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}} ({{alumno.documento_identidad}})
                                 </ng-template>
                               
                            </p-autoComplete>
                        </div>
                    </div>
                </div>

            </div>
            <div class="p-col-4">
               
                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="estadoAlumno" class="p-col-6">Estado</label>
                        <div class="p-col">
                            <input  [ngClass]="{'estado-vacio': selectedEstadoMatriculaTexto=='','matriculado': selectedEstadoMatricula, 'sin-matricula': !selectedEstadoMatricula}"  id="estadoAlumno" class="p-text-center" type="text" pInputText [ngModel]="selectedEstadoMatriculaTexto"
                                [disabled]="true">
                        </div>
                    </div>
                </div>
            </div>
            <!--div class="p-col-2">
                <p-button label="Agregar Alumno"></p-button>
            </div-->
        </div>

        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="ambienteId" class="p-col-3">Seleccionar ambiente</label>
                        <div class="p-col">
                            
                            <p-dropdown id="ambienteId" [options]="ambientes" [(ngModel)]="selectedAmbiente" optionLabel="anio" (onChange)="onChangeAmbientes($event.value)"
                            placeholder="Elegir ambiente para matricular" [ngClass]="{'ng-invalid ng-dirty': errorAmbiente}" >
                                <ng-template pTemplate="selectedItem">
                                    <div *ngIf="selectedAmbiente" >
                                        {{selectedAmbiente.nivel.nombre}} - {{selectedAmbiente.aula.nombre}} ({{selectedAmbiente.anio}})
                                    </div>
                                </ng-template>

                                <ng-template let-ambiente pTemplate="item" >
                                     {{ambiente.nivel.nombre}} - {{ambiente.aula.nombre}} ({{ambiente.anio}})
                                </ng-template>
                            </p-dropdown>

                        </div>
                    </div>
                </div>

            </div>
            <div class="p-col-4">
                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="vacantes" class="p-col-6">Vacantes</label>
                        <div class="p-col">
                            <input id="vacantes" class="p-text-center" type="text" pInputText [(ngModel)]="selectedVacantes"
                                [disabled]="true">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="docente" class="p-col-3">Docente</label>
                        <div class="p-col">
                            <input id="docente" type="text" pInputText [(ngModel)]="selectedDocenteNombreCompleto" [disabled]="true"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-4"></div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="fecha_m" class="p-col-3">Fecha matrícula</label>
                        <div class="p-col-4">
                            <p-calendar id="fecha_m"  [(ngModel)]="selectedFecha" [ngClass]="{'ng-invalid ng-dirty': errorFechaMatricula}"></p-calendar>

                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-2">
                <p-button label="Agregar Pago"></p-button>
            </div>
            <div class="p-col-2"></div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <div class="p-grid">
                    <div class="p-col-2">
                        <p-button styleClass="p-button-lg" label="Matricular" class="p-button-primary" (onClick)="matricular($event)"></p-button>
                    </div>
                    <div class="p-col-2">
                        <p-button styleClass="p-button-lg" label="Cancelar" class="p-button-secondary"></p-button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="p-col-3">
        <img src="https://1080motion.com/wp-content/uploads/2018/06/NoImageFound.jpg.png" class="img-fluid">
    </div>
</div>