
.padre {
  height: 100vh;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://img.deszone.net/2019/04/school-vector-free-seamless-pattern2.jpg");
}

.hijo {
  width: 40%;
}

.credenciales {
  margin: auto;
  width: 50%;
}


