<div class="p-text-center titulo">
    <h1 class="display-3 ">AMBIENTES</h1>
</div>

<div class="p-grid">
    <div class="p-col">
        <p-table [value]="ambientes" >
           
            <ng-template pTemplate="header">
                <tr>
                    <th>Aula</th>
                    <th>Nivel</th>
                    <th>Año</th>
                    <th>Docente</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ambiente>
                <tr>
                    <td>{{ambiente.aula.nombre}}</td>
                    <td>{{ambiente.nivel.nombre}}</td>
                    <td>{{ambiente.anio}}</td>
                    <td>{{ambiente.docente.nombres}} {{ambiente.docente.apellido_paterno}} {{ambiente.docente.apellido_materno}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
